Eventflow.Infrastructure/obj/Eventflow.Infrastructure.csproj.nuget.dgspec.json
Eventflow.Infrastructure/obj/Eventflow.Infrastructure.csproj.nuget.g.props
Eventflow.Infrastructure/obj/Eventflow.Infrastructure.csproj.nuget.g.targets
Eventflow.Infrastructure/obj/project.assets.json
Eventflow.Infrastructure/obj/project.nuget.cache
Eventflow.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Eventflow.Infrastructure/obj/Debug/net8.0/Eventflow.Infrastructure.AssemblyInfo.cs
Eventflow.Infrastructure/obj/Debug/net8.0/Eventflow.Infrastructure.AssemblyInfoInputs.cache
Eventflow.Infrastructure/obj/Debug/net8.0/Eventflow.Infrastructure.assets.cache
Eventflow.Infrastructure/obj/Debug/net8.0/Eventflow.Infrastructure.csproj.AssemblyReference.cache
Eventflow.Infrastructure/obj/Debug/net8.0/Eventflow.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Eventflow.Infrastructure/obj/Debug/net8.0/Eventflow.Infrastructure.GlobalUsings.g.cs
Eventflow.Domain/obj/Eventflow.Domain.csproj.nuget.dgspec.json
Eventflow.Domain/obj/Eventflow.Domain.csproj.nuget.g.props
Eventflow.Domain/obj/Eventflow.Domain.csproj.nuget.g.targets
Eventflow.Domain/obj/project.assets.json
Eventflow.Domain/obj/project.nuget.cache
Eventflow.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Eventflow.Domain/obj/Debug/net8.0/Eventflow.Domain.AssemblyInfo.cs
Eventflow.Domain/obj/Debug/net8.0/Eventflow.Domain.AssemblyInfoInputs.cache
Eventflow.Domain/obj/Debug/net8.0/Eventflow.Domain.assets.cache
Eventflow.Domain/obj/Debug/net8.0/Eventflow.Domain.csproj.AssemblyReference.cache
Eventflow.Domain/obj/Debug/net8.0/Eventflow.Domain.GeneratedMSBuildEditorConfig.editorconfig
Eventflow.Domain/obj/Debug/net8.0/Eventflow.Domain.GlobalUsings.g.cs
EventFlow.Application/obj/EventFlow.Application.csproj.nuget.dgspec.json
EventFlow.Application/obj/EventFlow.Application.csproj.nuget.g.props
EventFlow.Application/obj/EventFlow.Application.csproj.nuget.g.targets
EventFlow.Application/obj/project.assets.json
EventFlow.Application/obj/project.nuget.cache
EventFlow.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
EventFlow.Application/obj/Debug/net8.0/EventFlow.Application.AssemblyInfo.cs
EventFlow.Application/obj/Debug/net8.0/EventFlow.Application.AssemblyInfoInputs.cache
EventFlow.Application/obj/Debug/net8.0/EventFlow.Application.assets.cache
EventFlow.Application/obj/Debug/net8.0/EventFlow.Application.csproj.AssemblyReference.cache
EventFlow.Application/obj/Debug/net8.0/EventFlow.Application.GeneratedMSBuildEditorConfig.editorconfig
EventFlow.Application/obj/Debug/net8.0/EventFlow.Application.GlobalUsings.g.cs
Eventflow.API/obj/Eventflow.API.csproj.nuget.dgspec.json
Eventflow.API/obj/Eventflow.API.csproj.nuget.g.props
Eventflow.API/obj/Eventflow.API.csproj.nuget.g.targets
Eventflow.API/obj/project.assets.json
Eventflow.API/obj/project.nuget.cache
Eventflow.API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Eventflow.API/obj/Debug/net8.0/Eventflow.API.AssemblyInfo.cs
Eventflow.API/obj/Debug/net8.0/Eventflow.API.AssemblyInfoInputs.cache
Eventflow.API/obj/Debug/net8.0/Eventflow.API.assets.cache
Eventflow.API/obj/Debug/net8.0/Eventflow.API.csproj.AssemblyReference.cache
Eventflow.API/obj/Debug/net8.0/Eventflow.API.GeneratedMSBuildEditorConfig.editorconfig
Eventflow.API/obj/Debug/net8.0/Eventflow.API.GlobalUsings.g.cs
Eventflow.API/obj/Debug/net8.0/staticwebassets.removed.txt
.vs/Eventflow.API/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/Eventflow.API/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
.vs/Eventflow.API/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
.vs/Eventflow.API/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/Eventflow.API/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/Eventflow.API/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/Eventflow.API/DesignTimeBuild/.dtbcache.v2
.vs/Eventflow.API/FileContentIndex/2ea7b04a-e728-4817-9f14-6be23486acb0.vsidx
.vs/Eventflow.API/FileContentIndex/53baf49f-2f30-419b-9a75-b59fe9cc15c1.vsidx
.vs/Eventflow.API/FileContentIndex/658de4a0-078a-43b7-82ee-ab46360d751f.vsidx
.vs/Eventflow.API/FileContentIndex/7bad9bd2-2c45-4919-a63c-400bbf716702.vsidx
.vs/Eventflow.API/FileContentIndex/b3ecbeeb-b7e6-4913-945a-b9f45c450f4c.vsidx
.vs/Eventflow.API/v17/.suo
.vs/Eventflow.API/v17/DocumentLayout.json
Eventflow.API/Eventflow.API.csproj.user
